<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WanasaEMC">
  <test thread-count="5" name="LoginPage">
 <!--  <groups>
  	<run>
  		<include name="Smoke" />
  	</run>
  
  </groups> -->
    <classes>
     <class name="com.wanasaemc.adminautomation.BrowserLaunchTest"/>
      <class name="com.wanasaemc.adminautomation.EMCLoginPageTest"/>
    </classes>
  </test> <!-- LoginPage -->
</suite> <!-- WanasaEMC -->
